.reveal section img{
	width:  560px;
	border: 0;
}

section img[src$='#half'] { float:left; width:  50%;}
section img[src$='#thirty'] { float:left; width:  30%;}


body .reveal{
	font-family: 'Indie Flower', cursive;
}

.reveal h1, .reveal h2, .reveal h3 {
	font-family: 'Chelsea Market', cursive;
}

.reveal blockquote {
	text-align: left;
	background-color: #ffffdd;
	padding: 30px;
}
.reveal cite {
	display: block;

	color: #0a5e69;
	margin-left: 20px;
	font-style: italic;
}

.reveal td {
	vertical-align: top;
}

.reveal pre code {
	max-height: 600px;
}